doctype html
html.no-js(lang="en")
    head
        title Jarbunq
        meta(charset="utf-8")
        meta(name="mobile-web-app-capable", content="yes")
        meta(name="robots" content="noindex")

        != css("require")
        != css("main")

        != js("index")
        != js("require")

        block head

    body
        #app.wrapper
            block contents

            footer.inner-footer
                a.icon.github(href="https://github.com/igoramadas/jarbunq")
                    img(src="/images/icon-github.png")
                a.icon.docs(href="https://jarbunq.devv.com")
                    img(src="/images/icon-docs.png")

        script.
            jarbunqInit()
