{
    "bunq": {
        "api": {
            "clientId": "string: your bunq OAuth2 client ID",
            "clientSecret": "string: your bunq OAuth2 client secret",
            "key": "string: your bunq API key",
            "cryptoKey": "string: your unique 16 bytes crypto hex key",
            "ips": [
                "string: array of allowed IPs to use the API key above"
            ]
        },
        "accounts": {
            "main": "string: the alias of the main account",
            "amazon": "string: the alias of the Amazon Card account",
            "strava": "string: the alias of the target account for strava mileage payments"
        },
        "disablePayments": "boolean: if true, no payments will be ever made (but only logged to the console)"
    },
    "email": {
        "from": "string: default 'from' email address",
        "to": "string: default 'to' email address",
        "smtp": {
            "host": null,
            "port": "number: SMTP server port",
            "secure": "boolean: true to use SSL, false for unencrypted or TLS",
            "auth": {
                "user": "string: SMTP auth username or email",
                "password": "string: SMTP user password (or sepcific app password if using 2FA)"
            }
        },
        "accounts": {
            "devv": {
                "inboxName": "string: name of the inbox folder",
                "host": "string: IMAP server hostname or IP",
                "port": "number: IMAP server port",
                "user": "string: IMAP username or email",
                "password": "string: IMAP user password (or sepcific app password if using 2FA)",
                "tls": "boolean: true to use TLS, false otherwise",
                "tlsOptions": {
                    "rejectUnauthorized": "boolean: true to validate certificates, or false to skip validation"
                }
            }
        },
        "rules": [
            {
                "action": "string: amazon"
            },
            {
                "action": "string: lbb"
            },
            {
                "action": "string: name of the email action string / file, for example 'generic'",
                "from": "string[]: single or array of email addresses, can also be a partial address",
                "subject": "string[]: single or array of texts that should be in the subject",
                "toAlias": "string[]: alias of the target account",
                "amount": "number: how much should be transferred"
            }
        ]
    },
    "strava": {
        "clientId": "string: client ID from your Strava OAuth2 app",
        "clientSecret": "string: client secret from your Strava OAuth2 app",
        "refreshToken": "string: initial refresh token from your Strava OAuth2 app"
    },
    "webhooks": {}
}
