{
    "app": {
        "auth": {
            "user": "string: set the username used to log on Jarbunq, default is admin",
            "password": "string: password to log on Jarbunq"
        },
        "url": "string: full URL to the root of the service, default is https://jarbunq.local:8833/",
        "title": "string: want to rename Jarbunq to something else, put it here"
    },
    "bunq": {
        "api": {
            "clientId": "string: your bunq OAuth2 client ID",
            "clientSecret": "string: your bunq OAuth2 client secret",
            "key": "string: your bunq API key",
            "cryptoKey": "string: your unique 16 bytes crypto hex key",
            "ips": [
                "string: array of allowed IPs to use the API key above"
            ]
        },
        "accounts": {
            "main": "string: the alias of the main account",
            "amazon": "string: the alias of the Amazon Card account",
            "strava": "string: the alias of the target account for strava mileage payments",
            "zalando": "string"
        }
    },
    "email": {
        "from": "string: default 'from' email address",
        "to": "string: default 'to' email address",
        "smtp": {
            "host": null,
            "port": "number: SMTP server port",
            "secure": "boolean: true to use SSL, false for unencrypted or TLS",
            "auth": {
                "user": "string: SMTP auth username or email",
                "password": "string: SMTP user password (or sepcific app password if using 2FA)"
            }
        },
        "accounts": {
            "devv": {
                "inboxName": "string: name of the inbox folder",
                "host": "string: IMAP server hostname or IP",
                "port": "number: IMAP server port",
                "user": "string: IMAP username or email",
                "password": "string: IMAP user password (or sepcific app password if using 2FA)",
                "tls": "boolean: true to use TLS, false otherwise",
                "tlsOptions": {
                    "rejectUnauthorized": "boolean: true to validate certificates, or false to skip validation"
                }
            }
        },
        "rules": [
            {
                "action": "string: amazon-de"
            },
            {
                "action": "string: lbb"
            },
            {
                "action": "string: strava"
            },
            {
                "action": "string: zalando-de"
            }
        ]
    },
    "eventhooks": {
        "Bunq.callback": [
            {
                "data": {
                    "eventType": "string",
                    "description": "string"
                },
                "actions": {
                    "payment": {
                        "toAlias": "string",
                        "toName": "string",
                        "amount": "string"
                    }
                }
            }
        ],
        "EmailManager.stop": [
            {
                "actions": {
                    "email": {
                        "to": "string",
                        "subject": "string",
                        "message": "string"
                    }
                }
            }
        ]
    },
    "general": {
        "debug": "boolean: if true, logs will contain extra details"
    },
    "notification": {
        "push": {
            "enabled": "boolean",
            "post": {
                "token": "string",
                "user": "string"
            }
        }
    },
    "strava": {
        "api": {
            "clientId": "string",
            "clientSecret": "string"
        }
    }
}
