{
    "bunq": {
        "api": {
            "clientId": "string: your OAuth2 client ID",
            "clientSecret": "string",
            "key": "string",
            "cryptoKey": "string",
            "ips": [
                "string"
            ]
        },
        "accounts": {
            "main": "string",
            "amazon": "string",
            "strava": "string"
        },
        "disablePayments": "boolean"
    },
    "email": {
        "accounts": {
            "devv": {
                "inboxName": "string",
                "host": "string",
                "port": "number",
                "password": "string",
                "user": "string",
                "tls": "boolean",
                "tlsOptions": {
                    "rejectUnauthorized": "boolean"
                }
            }
        },
        "rules": [
            {
                "action": "string",
                "from": "string",
                "subject": "string"
            }
        ]
    },
    "strava": {
        "accessToken": "string"
    }
}
