nav.navbar(role="navigation" aria-label="Navigation")
    .navbar-brand
        a.app-title.navbar-item(href="/") Jarbunq
        a.navbar-burger.burger(role="button" aria-label="menu" aria-expanded="false")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")
    #navbar-links.navbar-menu
        .navbar-start
            router-link.navbar-item(to="/status" title="Status") Status
            router-link.navbar-item(to="/payments" title="Payments") Payments
            router-link.navbar-item(to="/emails" title="Emails") Emails
            router-link.navbar-item(to="/strava" title="Strava") Strava
            router-link.navbar-item(to="/settings" title="Settings") Settings
