/*= require ./main-desktop.styl */
/*= require ./emails.styl */
/*= require ./settings.styl */

@font-face
    font-family "Nunito"
    font-style normal
    font-weight 400
    font-display swap
    src local("Nunito Regular"), local("Nunito-Regular"), url(https://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format("woff2")

html
    background rgb(40, 40, 40)

body
    background rgb(40, 40, 40)
    color rgb(0, 0, 0)
    font-family "Nunito", sans-serif
    margin 0
    text-align center

nav.navbar
    background-color Transparent !important
    margin-top 2px

    .app-title
        font-weight bold

h1.title
    padding-top 10px

.wrapper
    background rgb(255, 255, 255)
    margin auto

.header
    background url("/images/bg.jpg") no-repeat center
    background-size cover
    height 20px
    margin-right 1px

.contents
    width 100%

.contents > .panel .container
    padding 0.75rem

td.amount, td.actions
    white-space nowrap

.inner-footer
    margin-top 20px
    padding-bottom 20px

    .icon
        margin 0 8px 0 8px

        img
            height 24px
            width 24px
