#emails.contents
    .panel
        p.panel-heading Emails
        .panel-block
            p.control.has-icons-left
                input.input.is-small(type="text" placeholder="search emails" v-model="inputSearch" v-on:keyup="fetchEmailsDelay")
                span.icon.is-small.is-left
                    i.fas.fa-search(aria-hidden="true")
        .panel-block
            table.table.is-fullwidth
                thead
                    tr
                        th Details
                        th.has-text-right Action(s)
                tbody
                    tr(v-for="e in emails")
                        td(colspan="2")
                            .actions.is-pulled-right {{ Object.keys(e.actions).join(", ") }}
                            .date {{ moment(e.date).format(jarbunq.shortDateTimeFormat) }}
                            .from From {{ e.from }}
                            .subject.is-size-7 {{ e.subject }}
