#emails.contents
    .panel
        p.panel-heading Emails
        .panel-block
            p.control.has-icons-left
                input.input.is-small(type="text", placeholder="search emails" v-model="inputSearch" v-on:keyup="fetchEmailsDelay")
                span.icon.is-small.is-left
                    i.fas.fa-search(aria-hidden="true")
        .panel-block
            table.table.is-fullwidth
                thead
                    tr
                        th Date
                        th Subject
                        th.actions Actions
                tbody
                    tr(v-for="e in emails")
                        td.date {{ moment(e.date).format("ll HH:mm") }}
                        td.subject {{ e.subject }}
                        td.actions {{ Object.keys(e.actions).join(", ") }}
