#payments.contents
    .panel
        p.panel-heading Payments
        .panel-block
            p.control.has-icons-left
                input.input.is-small(type="text" placeholder="search payments" v-model="inputSearch" v-on:keyup="fetchPaymentsDelay")
                span.icon.is-small.is-left
                    i.fas.fa-search(aria-hidden="true")
        .panel-block
            table.table.is-fullwidth
                thead
                    tr
                        th Details
                        th.has-text-right Amount
                tbody
                    tr(v-for="p in payments")
                        td
                            .date {{ moment(p.date).format(jarbunq.shortDateTimeFormat) }}
                            .accounts {{ jarbunq.getAccountFromAlias(p.fromAlias) }} to {{ jarbunq.getAccountFromAlias(p.toAlias) }}
                            .description.is-size-7 {{ p.description }}
                        td.amount.has-text-right {{ p.amount }} {{ p.currency }}
