#payments.contents
    .panel
        p.panel-heading Payments
        .panel-block
            p.control.has-icons-left
                input.input.is-small(type="text" placeholder="search payments" v-model="inputSearch" v-on:keyup="fetchPaymentsDelay")
                span.icon.is-small.is-left
                    i.fas.fa-search(aria-hidden="true")
        .panel-block
            table.table.is-fullwidth
                thead
                    tr
                        th Date
                        th Details
                        th Amount
                tbody
                    tr(v-for="p in payments")
                        td {{ moment(p.date).format(jarbunq.shortDateTimeFormat) }}

                        td
                            span {{ p.description }}
                            div.to-alias {{ jarbunq.getAccountFromAlias(p.toAlias) }}
                        td.amount.has-text-right {{ p.amount }} {{ p.currency }}
