#status.contents
    .panel
        p.panel-heading Status


        .container
            h5.title.is-5.has-text-left Recent payments
            table.table.is-fullwidth
                thead
                    tr(v-for="p in recentPayments")
                        td.has-text-left
                            div {{ moment(p.date).format("DD/MM/YY HH:mm") }}
                            div to {{ p.toAlias }}
                        td.has-text-right {{ p.amount }} {{ p.currency }}

        .container
            h5.title.is-5.has-text-left Recent emails
            table.table.is-fullwidth
                thead
                    tr(v-for="e in recentEmails")
                        td.has-text-left
                            div {{ moment(e.date).format("DD/MM/YY HH:mm") }}: {{ _.keys(e.actions).join(", ") }}
                            div {{ e.subject }}

        .container
            h5.title.is-5.has-text-left Accounts
            table.table.is-fullwidth
                thead
                    tr(v-for="a in accounts")
                        td.has-text-left
                            div {{ a.description }}
                            div {{ _.find(a.alias, {type: "IBAN"}).value }}
                        td.has-text-right {{ a.balance.value }} {{ a.balance.currency }}
