#payments.contents
    .panel
        p.panel-heading Strava
        .panel-block
            p.control.has-icons-left
                input.input.is-small(type="text" placeholder="search strava payments" v-model="inputSearch" v-on:keyup="fetchPaymentsDelay")
                span.icon.is-small.is-left
                    i.fas.fa-search(aria-hidden="true")
        .panel-block
            table.table.is-fullwidth
                thead
                    tr
                        th Details
                        th Distance
                        th Elevation
                        th.has-text-right Amount
                tbody
                    tr(v-for="s in stravaPayments")
                        td.date {{ moment(s.date).format(jarbunq.shortDateTimeFormat) }}
                        td.distance {{ s.distance }}km
                        td.elevation {{ s.elevation }}m
                        td.amount.has-text-right {{ s.payment.amount.toFixed(2) }} EUR
